.gradle
gradle/wrapper/gradle-wrapper.jar
.idea
**/target/**
**/build/**
**/out/**
/Error Correcting Encoder-Decoder/task/encoded.txt
/Error Correcting Encoder-Decoder/task/received.txt
/Error Correcting Encoder-Decoder/task/send.txt
